input {
  font-family: open-sans, sans-serif;
/*  height: 40px;*/
  padding: 10px;
  width: calc(100% - 60px);
  margin: 0px 20px;
  margin-bottom: 40px;
  background-color: #dbdbdb;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  color: black;
}

.sans {
  font-family: open-sans, sans-serif;
}

input:focus {
  outline: none;
}

button {
  font-family: open-sans, sans-serif;
  transition: all 0.75s ease;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  padding: 15px 20px;
  border: none;
  margin: 10px 10px;
  font-size: 16px;
  background: #353535;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

button.light {
  color: #353535;
  background: white;
}

button.disabled {
  cursor: auto;
  color: #bababa;
  background: #727272;
}

button:hover, .item:hover {
  box-shadow: 0 0 40px rgba(0,0,0,0.4);
}

button.disabled:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

button:focus {
  outline: none;
}

.item {
  transition: all 0.75s ease;
  padding: 20px;
   box-shadow: 0 0 20px rgba(0,0,0,0.2);
 /* background-color: #f98c5e;*/
  color: black;
  margin: 10px;
  width: 320px;
  border-radius: 10px;
}

.snipArea {
  font-family: minion-3, serif;
  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.playWrapper {
  max-width: 600px;
  margin: 15vh auto;
  text-align: center;
}

@media (max-width: 400px) {
  .playWrapper {
    margin: 5vh auto;
  }
}

.playWrapper.padded {
  padding: 20px;
}

.playHeader {
  padding: 10px 20px;
}

::selection {
  background-color: #f98c5e;
  color: black;
}

.highlighted {
  background-color: #f98c5e;
}

.helpTooltip {
  max-width: 200px !important;
  font-family: open-sans, sans-serif;
}

.wrapperFlex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1200px;
  width: 98%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  width: 98%;
  margin: 10vh auto;
}

.centered {
  text-align: center;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

.padder {
  margin: 50px 0px;
  text-align: left;
}

.backButton {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 40px;
  cursor: pointer;
}

